body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-image:linear-gradient(90deg, rgb(116, 197, 230), rgb(69, 131, 224));
    color: #333333;
}

body.modo-escuro{
    background-image: linear-gradient(90deg, rgb(0, 19, 82), rgb(4, 80, 116));
    color: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao{
    align-items: center;
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .titulo{
    width: 100px;
    align-items: center;
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor: pointer;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #1111;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon{
    background-image: linear-gradient(90deg, #6a44a7, rgb(209, 189, 189));
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #6be226;
}

.veneno{
    background-color: #f70cf3fb;
}

.fogo{
    background-color: #ee8130;
}

.agua{
    background-color: #a1b9ee;
}

.inseto{
    background-color: #17e93a;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}